.card {
    display: flex;
    width: 500px;
    align-items: flex-start;
}

.mat-card-content {
    flex: 1;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 500px;
    width: 300px;
    margin: 50px;
}

mat-form-field {
    width: 100%;
}

img {
    height: 500px;
}
.container{
display: flex;
}
button {
    background-color: rgb(233, 224, 241);
}