
<div class="form"> 
    <img src="../../assets/Images/Logo.jpg" alt="" srcset="">
    <mat-form-field>
        <mat-label>Enter Username</mat-label>
        <input matInput name="orderCode" [(ngModel)]="UserName" placeholder="Enter Password">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter Password</mat-label>
        <input matInput name="orderCode" [(ngModel)]="code" placeholder="Enter Password">
    </mat-form-field>
    <button mat-button color="primary" (click)="login()" ><mat-icon>login</mat-icon></button>
</div>
